
    .body {
      background: linear-gradient(45deg, rgb(22, 95, 158),rgb(3, 4, 58) ); text-align: center;
      width: 50%;
      height: 100vh ;
    }      



    

    .aa{
      padding: 1em;
    }